<nav>
    <div class="d-flex justify-content-center gap-3">
        <a asp-action="Index" asp-controller="Dish">Home</a>
        <p>|</p>
        <a asp-action="NewDish" asp-controller="Dish" class="Classes">Add a Dish</a>
    </div>
</nav>