@model Dish
<div class="container m-5">
    <h1 class="text-center">Add a new Dish!</h1>
    @await Html.PartialAsync("_navbar")
    <div class="card">
        <div class="card-body">
            <form asp-action="CreateDish" asp-controller="Dish" method="post">
                <div class="row">
                    <div class="col-4">
                        <div class="m-3">
                            <label asp-for="Chef"></label>
                            <input asp-for="Chef">
                            <span class="text-danger" asp-validation-for="Chef"></span>
                        </div>
                        <div class="m-3">
                            <label asp-for="Name"></label>
                            <input asp-for="Name">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="m-3">
                            <label asp-for="Calories"></label>
                            <input asp-for="Calories">
                            <span class="text-danger" asp-validation-for="Calories"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="m-3">
                            <label class="form-label" asp-for="Tastiness"></label>
                            <select class="form-select" asp-for="Tastiness">
                                <option value="" hidden>-- Choose Value -- </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="m-3">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" cols="30" rows="8"></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        <button class="btn btn-primary">Add a Dish</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>